@page
@model UsuarioModel
@{
    ViewData["Title"] = "Crear Usuario";
}
<h2>@ViewData["Title"]</h2>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<body>

    <form>
        <p>
            <label>ID_Tipo</label>
            <input type="number" name="ID_Tipo">
        </p>
        <p>
            <label>ID_Canal</label>
            <input type="number" name="ID_Canal">
        </p>
        <p>
            <label>Nombres</label>
            <input type="text" name="Nombres">
        </p>
        <p>
            <label>Correo</label>
            <input type="email" name="Correo">
        </p>
        <p>
            <label>Contrasenia</label>
            <input type="password" name="Contrasenia">
        </p>
        <p>
            <input type="checkbox" name="Terminos_Condiciones" /> Terminos_Condiciones
            <input type="submit" value="Crear Usuario">
        </p>
    </form>

    <div id="result"></div>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                var posting = $.post("http://localhost:53961/api/registrar_usuario/crear_usuario", {
                    ID_Tipo: $("input[name='ID_Tipo']").val(),
                    ID_Canal: $("input[name='ID_Canal']").val(),
                    Nombres: $("input[name='Nombres']").val(),
                    Correo: $("input[name='Correo']").val(),
                    Contrasenia: $("input[name='Contrasenia']").val(),
                    Terminos_Condiciones: $("input[name='Terminos_Condiciones']").val()
                });
                posting.done(function (data) {
                    var content = $(data).find("#content");
                    $("#result").empty().append(content);
                });
            });
        });
    </script>

</body>