@page
@model Vue.Pages.EfectivoModel
@{
    ViewData["Title"] = "Efectivo";
}

<div id="app" class="container" align="center">

    <h1>¿CÓMO <font color="red">PAGARAS</font> HOY?</h1><br />

    <h4><strong>Método de pago</strong></h4><br />
    <h3>
        <select v-model="cip.ID_Metodo_Pago" class="form-horizontal">
            <option value="0">--Seleccionar--</option>
            <option v-for="item in metodos_pago" :value="item.ID_Metodo_Pago">{{item.Metodo_Pago}}</option>
        </select>
    </h3><br /><br />

    <br />

    <button @@click="fetchCip" class="btn btn-primary">Generar Cip</button>

    <h4><strong>Código de Pago CIP</strong></h4>
    codigo {{Codigo}}





    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <script>
                new Vue({
                    el: "#app",
                    data: {

                        ID_Metodo_Pago: 0,
                        cip: {},
                        metodos_pago: [],
                        Codigo: ""

                    },
                    mounted: function () {
                        this.fetchMetodopago();
                    },
                    methods: {
                        fetchMetodopago: function () {
                            var url = "http://localhost:49996/api/registrar_pago/listar_metodo_pago";
                            this.$http.get(url).then(function (response) {
                                this.metodos_pago = response.body;
                            });
                        },

                        fetchCip: function () {
                            var url = "http://localhost:49996/api/pagoefectivo/registrarcip";
                            this.$http.post(url, this.cip).then(function (response) {
                                this.Codigo = response.body;
                            });
                        },

                    }
                });
    </script>

    <br /><br /><br /><br />
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>

