@page
@model Vue.Pages.UsuarioModel
@{
    ViewData["Title"] = "Usuario";
}
    <div id="app" class="container">
        <h1 class="display-4">Registrar usuario</h1>
        <div class="form-group">
            <select class="form-control" v-model="usuario.ID_Tipo" required>
                <option disabled selected>¿Quién eres?</option>
                <option v-for="item in tipo" :value="item.ID_Usuario">{{ item.Valor }}</option>
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Nombres y apellidos" v-model="usuario.Nombres" required />
        </div>
        <div class="form-group">
            <input class="form-control" type="email" placeholder="Correo electrónico" v-model="usuario.Correo" required />
        </div>
        <div class="form-group">
            <input class="form-control" type="password" placeholder="Crea tu contraseña" v-model="usuario.Contrasenia" required />
        </div>
        <div class="form-group">
            <select class="form-control" v-model="usuario.ID_Canal" required>
                <option disabled selected>¿Cómo te enteraste de Culqi?</option>
                <option v-for="item in canal" :value="item.ID_Canal">{{ item.Nombre_Canal }}</option>
            </select>
        </div>
        <div class="form-group">
            <label>
                <input type="hidden" value="0" v-model="usuario.Terminos_Condiciones">
                <input type="checkbox" v-bind:true-value="1" v-bind:false-value="0" v-model="usuario.Terminos_Condiciones"> Acepto las políticas de privacidad y protección de datos.
            </label>
        </div>
        <button class="btn btn-default" type="submit" @@click="grabarUsuario">Continuar</button>

        {{ usuario }}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                usuario: {},
                tipo: [],
                canal: []
            },
            mounted: function () {
                this.obtenerTipoUsuario();
                this.obtenerCanal();
            },
            methods: {
                grabarUsuario: function () {
                    var url = "http://localhost:49996/api/registrar_usuario/crear_usuario";
                    this.$http.post(url,this.usuario).then(function (response) {
                        alert(response.body);
                    });
                },
                obtenerTipoUsuario: function () {
                    var url = "http://localhost:49996/api/registrar_usuario/listar_tipo_usuario";
                    this.$http.get(url).then(function (response) {
                        this.tipo = response.body;
                    });
                },
                obtenerCanal: function () {
                    var url = "http://localhost:49996/api/registrar_usuario/listar_canal";
                    this.$http.get(url).then(function (response) {
                        this.canal = response.body;
                    });
                }
            }
        });
    </script>
